@keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes visibilite {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: scale(2);
  }
}

@keyframes delay {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
