@import "_var-mix.scss";
@import "_Keyframe.scss";
/*--------taille page/police-----*/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}

/*-----loader-----*/
@keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes visibilite {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: scale(2);
  }
}

.loader {
  @include flexCenterAll;
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  font-family: "Shrikhand", sans-serif;
  animation: visibilite 2.6s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background-color: black;
}

.lettre {
  font-size: 35px;
  letter-spacing: 0.2em;
  background-image: linear-gradient(25deg, $color-secondaire, $color-primaire);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.delay1 {
  animation: loader 0.3s;
}

.delay2 {
  animation: loader 0.6s;
}
.delay3 {
  animation: loader 0.9s;
}
.delay4 {
  animation: loader 1.2s;
}
.delay5 {
  animation: loader 1.5s;
}
.delay6 {
  animation: loader 1.8s;
}
.delay7 {
  animation: loader 2.2s;
}
.delay8 {
  animation: loader 2.6s;
}

/*--------header-------*/
.head {
  @include head;
  z-index: 999;
}

.head-logo {
  @include head-logo;
}
/*-------recherche restaurant------*/

.restaurant-local {
  @include flexCenterAll;
  position: relative;
  background-color: #f2f2f2;
  font-size: 18px;
  &-recherche {
    padding-right: 10px;
  }
}
.restaurant-paragraphe {
  font-weight: 500;
  color: #504d4d;
  font-size: 18px;
}
.icon-localisation {
  color: #504d4d;
  display: flex;
  position: relative;
  left: -11px;
  top: -2px;
}
/*--------exploration des reseration-------*/

.reservation {
  text-align: center;
  background-color: #fafafa;
  padding: 30px;
  padding-bottom: 35px;
  &-titre {
    margin: 0px;
    font-size: 25px;
  }
  &-texte {
    margin: 15px;
    font-weight: 350;
    font-size: 18px;
    color: #6f6969;
  }
}

.bouton-explorer {
  @include button;
  padding-right: 18px;
  padding-left: 18px;
  box-shadow: -4px 9px 15px -10px rgba(0, 0, 0, 0.5);
  margin-top: 12px;
  color: white;
  background-image: linear-gradient(175deg, $color-secondaire, $color-primaire);
  cursor: pointer;
  transition-duration: 0.5s;
  &:hover {
    opacity: 0.7;
    transition-duration: 0.4s;
    box-shadow: -4px 9px 15px -10px rgba(0, 0, 0, 1);
  }
}
/*--------fonctionnement-------*/

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1450px;
  margin: auto;
  &-total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }
  &-onglet {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include fonctionnement-box;
    align-items: center;
    background-color: #fafafa;
    height: 55px;
    box-shadow: -1px 1px 15px 0px rgba(178, 172, 172, 0.75);
    margin-bottom: 20px;
    transition-duration: 0.7s;
  }
}

.fonctionnement-numero {
  display: flex;
  position: relative;
  left: -10px;
  border: 2px solid $color-primaire;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 49%;
  background-color: $color-primaire;
  color: white;
}

.fonctionnement-logo {
  padding-left: 13px;
  color: #646464;
  font-size: 17px;
  transition-duration: 0.7s;
}

.fonctionnement-paragraphe {
  padding-left: 15px;
  font-weight: 500;
}

.fonctionnement-onglet:hover {
  transition-duration: 0.6s;
  background-color: rgba(147, 86, 220, 0.2);
  cursor: default;
  border: 2px solid rgba(146, 86, 220, 0);
  .icon-fonctionnement {
    color: $color-primaire;
    transition-duration: 0.6s;
  }
}

.icon-fonctionnement {
  transition-duration: 0.7s;
}

.titre-fonctionnement {
  font-size: 28px;
  margin-bottom: 20px;
}
/*---------responsive fonctionement----*/
@media screen and (min-width: 768px) {
  .fonctionnement-total {
    flex-direction: row;
  }
  .fonctionnement-onglet {
    width: 29%;
  }
}
/*----------carte-restaurant--------*/
.restaurant {
  background-color: #f2f2f2;
  width: 100%;
}

.restaurant-total {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.restaurant-box {
  @include carteRestaurant;

  &:hover {
    transition-duration: 0.3s;
    transform: scale(0.95);
  }
}

.restaurant-box2 {
  @include carteRestaurant;

  &:hover {
    transition-duration: 0.3s;
    transform: scale(0.95);
  }
}

.restaurant-box-x2 {
  width: 93%;
}

.restaurant-box2-x2 {
  width: 93%;
}

.taille-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 260px;
  object-fit: cover;
}

.restaurant-nom {
  margin-left: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}

.restaurant-situer {
  margin-left: 13px;
  margin-top: -1px;
  margin-bottom: 5px;
  color: black;
}

/*-------coeur restaurant--------*/

.coeurcheck {
  margin-top: -36px;
  font-size: 22px;
  margin-right: 23px;
  cursor: pointer;
  margin-left: auto;
}
.coeurcheck input[type="checkbox"],
.coeurcheck .check {
  display: none;
}

.coeurcheck input[type="checkbox"]:checked ~ .check {
  display: inline-block;
  animation: loader 1.5s;
  color: rgb(255, 255, 255, 0);
}

.coeurcheck input[type="checkbox"]:checked ~ .uncheck {
  display: none;
}

.fas {
  background: linear-gradient(to bottom, $color-primaire, $color-secondaire);
  background-clip: text;
  -webkit-background-clip: text;
}

.uncheck:hover {
  transition-duration: 0.6s;
  transform: scale(1.2);
}
/*----fin coeur restaurant-----*/

.titre-restaurant {
  margin-left: 15px;
  padding-top: 50px;
  font-size: 28px;
}

.restaurant-taille {
  margin: auto;
}

.nouveau {
  display: flex;
  position: absolute;
  background-color: #99e2d0;
  color: #1b6150;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 12px;
  padding-left: 12px;
  top: 15px;
  right: 13px;
  border-radius: 3px;
}
/*-------responsive restaurant-----*/
@media screen and (min-width: 768px) {
  .restaurant-taille {
    max-width: 1450px;
  }
  .restaurant-box-x2 {
    width: 40%;
  }

  .restaurant-box2-x2 {
    width: 40%;
  }
}
/*-----------footer---------*/

#footer-titre {
  @include footer-titre;
}

.footer {
  background-color: $color-footer;
  &-lien {
    @include footer-lien;
  }
  &-total {
    @include footer-total;
  }
}

.footer-icon {
  padding-right: 14px;
  font-size: 13px;
}

.footer-icon2 {
  padding-right: 10px;
  font-size: 12px;
}
