/*--------taille page/police-----*/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/*--------header-------*/
.head {
  display: flex;
  justify-content: center;
  height: 80px;
  position: sticky;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.head-logo {
  display: flex;
  text-align: center;
  width: 196px;
  height: 80px;
}

/*-------recherche restaurant------*/
.restaurant-local {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  font-size: 18px;
}
.restaurant-local-recherche {
  padding-right: 10px;
}

/*--------exploration des reseration-------*/
.reservation {
  text-align: center;
  background-color: #fafafa;
  padding: 30px;
  padding-bottom: 35px;
}
.reservation-titre {
  margin: 0px;
  font-size: 25px;
}
.reservation-texte {
  margin: 15px;
  font-weight: 300;
}

.bouton-explorer {
  border-radius: 30px;
  border: 0px;
  font-size: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 18px;
  padding-left: 18px;
  margin-top: 10px;
  color: white;
  background-image: linear-gradient(175deg, #ff79da, #9356dc);
  cursor: pointer;
}
.bouton-explorer:hover {
  opacity: 0.4;
  transition-duration: 0.7s;
}

/*--------fonctionnement-------*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}
.fonctionnement-total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.fonctionnement-onglet {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid #fafafa;
  border-radius: 20px 20px 20px 20px;
  align-items: center;
  background-color: #fafafa;
  height: 55px;
  box-shadow: -1px 1px 15px 0px rgba(178, 172, 172, 0.75);
  margin-bottom: 20px;
}

.fonctionnement-numero {
  display: flex;
  position: relative;
  left: -10px;
  border: 2px solid #9356dc;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 49%;
  background-color: #9356dc;
  color: white;
}

.fonctionnement-logo {
  padding-left: 13px;
  color: #646464;
  font-size: 17px;
}

.fonctionnement-paragraphe {
  padding-left: 15px;
  font-weight: 500;
}

.fonctionnement-onglet:hover {
  transition-duration: 0.6s;
  background-color: rgba(147, 86, 220, 0.2);
  cursor: default;
  border: 2px solid rgba(146, 86, 220, 0);
}

.titre-fonctionnement {
  font-size: 28px;
  margin-bottom: 20px;
}

/*---------responsive fonctionement----*/
@media screen and (min-width: 768px) {
  .fonctionnement-total {
    flex-direction: row;
  }

  .fonctionnement-onglet {
    width: 29%;
  }
}
/*----------carte-restaurant--------*/
.restaurant {
  background-color: #f2f2f2;
  width: 100%;
}

.restaurant-total {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.restaurant-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 325px;
  border-bottom: 2px solid white;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
}

.restaurant-box2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 325px;
  border-bottom: 2px solid white;
  background: white;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
}

.restaurant-box-x2 {
  width: 93%;
}

.restaurant-box2-x2 {
  width: 93%;
}

.taille-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 260px;
  object-fit: cover;
}

.restaurant-nom {
  margin-left: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}

.restaurant-situer {
  margin-left: 13px;
  margin-top: -1px;
  margin-bottom: 5px;
  color: black;
}

/*-------coeur restaurant--------*/
.coeurcheck {
  display: flex;
  justify-content: end;
  margin-top: -36px;
  font-size: 22px;
  margin-right: 23px;
  cursor: pointer;
}

.coeurcheck input[type=checkbox],
.coeurcheck .check {
  display: none;
}

.coeurcheck input[type=checkbox]:checked ~ .check {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.coeurcheck input[type=checkbox]:checked ~ .uncheck {
  display: none;
}

.fas {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}

.uncheck:hover {
  transition-duration: 0.6s;
  transform: scale(1.2);
}

/*----fin coeur restaurant-----*/
.titre-restaurant {
  margin-left: 30px;
  padding-top: 50px;
  font-size: 28px;
}

.restaurant-taille {
  margin: auto;
}

.nouveau {
  display: flex;
  position: absolute;
  background-color: #99e2d0;
  color: #1b6150;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 12px;
  padding-left: 12px;
  top: 15px;
  right: 13px;
  border-radius: 3px;
}

/*-------responsive restaurant-----*/
@media screen and (min-width: 768px) {
  .restaurant-taille {
    max-width: 1450px;
  }

  .restaurant-box-x2 {
    width: 40%;
  }

  .restaurant-box2-x2 {
    width: 40%;
  }
}
/*-----------footer---------*/
#footer-titre {
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 14px;
  margin-top: 13px;
  font-size: 20px;
  font-weight: 500;
}

.footer {
  background-color: #353535;
}
.footer-lien {
  color: white;
  margin-bottom: 8px;
}
.footer-total {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.footer-icon {
  padding-right: 14px;
  font-size: 13px;
}

.footer-icon2 {
  padding-right: 10px;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
