@mixin marginRightLeftAuto {
  margin-left: auto;
  margin-right: auto;
}
@mixin flexCenterAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin head {
  display: flex;
  justify-content: center;
  height: 70px;
  position: sticky;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.25);
}

@mixin head-logo {
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 196px;
  height: 70px;
}

@mixin retours {
  font-size: 18px;
  color: black;
}

@mixin icon-retours {
  display: flex;
  align-items: center;
  position: relative;
  right: -23px;
}

@mixin head-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@mixin carteRestaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 325px;
  border-bottom: 2px solid white;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
  transition-duration: 0.3s;
}
@mixin titre-section {
  content: "";
  width: 40px;
  height: 3px;
  background-color: $color-tertiaire;
  position: absolute;
}

@mixin overflowEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin icon-centre {
  margin-left: 3px;
  margin-top: 4px;
  font-size: 13px;
}

@mixin button {
  border-radius: 30px;
  border: 0px;
  font-size: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
}

@mixin bouton-commander {
  display: flex;
  justify-content: center;
  padding-bottom: 67px;
}

@mixin footer-titre {
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 14px;
  margin-top: 13px;
  font-size: 20px;
  font-weight: 500;
}

@mixin fonctionnement-box {
  border: 2px solid #fafafa;
  border-radius: 20px 20px 20px 20px;
}

@mixin footer {
  background-color: $color-footer;
}

@mixin footer-titre {
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 14px;
  margin-top: 13px;
  font-size: 20px;
  font-weight: 500;
}

@mixin footer-lien {
  color: white;
  margin-bottom: 8px;
}

@mixin footer-total {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  margin-left: 20px;
  padding-bottom: 10px;
}
